* {
  box-sizing: border-box;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #bdc1c6;
  background-clip: initial;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
#root {
  /*  SIZE PALETTE  */
  --size-3xs: 0.5rem;
  --size-2xs: 0.75rem;
  --size-xs: 0.8125rem;
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.375rem;
  --size-2xl: 1.75rem;
  --size-3xl: 2.5rem;
  --size-fw: 100%;
  --size-fh: 100%;

  /* LINE HEIGHT */
  --line-lg: 1.8rem;
  --line-md: 1.625rem;
  --line-sm: 1.375rem;

  /* FONT WEIGHT */
  --weight-lg:400;
  --weight-nm:500;
  --weight-bd:600;
  --weight-xbd:700;

  /* COLOR PALETTE */
  --base: #ffffff;
  --border:#eeeeee;
  --contrast: #192434;
  --contrast-light: #fafbfc;
  --contrast-secondary:#f3f5f7;
  --contrast-tertiary:#f7f8fa;
  --contrast-border: #dadfe4;
  --info: #1676f3;
  --error: #ff4238;
  --success: #15c15d;
  --warn: #f5a623;
  --link:#5E5CE6;
  --share1:#FF2D55;
  --share2:#64D2FF;

  --header-text: #192434;
  --normal-text: #263445;
  --primary-text: #1676f3;
  --secondary-text: #868f99;
  --disabled-text: #bcc3ca;
  --error-text: #f52419;
  --success-text: #00a344;
  --warn-text: #f5a630;
  --contrast-text: #fcfcfc;

    height: var(--size-fh, 100%);
    width: var(--size-fw, 100%);
}
html,
body {
  font-size: var(--size-md);
  font-weight: var(--weight-nm);
  letter-spacing: 0.5px;
  color: var(--normal-text);
  background-color: var(--base);
  text-transform: none;
  line-height: var(--line-md, 1.625rem);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  outline: 0;
  overflow: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
